body {
    background-color:rgb(32, 119, 122)
}

div {
    text-align: center ;
}

img{
    margin-left: 35%;
}

.alert {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}